<%= form_for(@drive) do |f| %>
  <% if @drive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drive.errors.count, "error") %> prohibited this drife from being saved:</h2>

      <ul>
      <% @drive.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :num_passengers %><br>
    <%= f.number_field :num_passengers %>
  </div>
  <div class="field">
    <%= f.label :driver_id %><br>
    <%= f.number_field :driver_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
