<!--This view is a list of drives in a single city. For example, if a user filters drives to Indiannapolis, that user will only see the drives in Indiannapolis.  Each drive will list information about that drive, which are the destination city, the number of available passengers, the driver id, and the ability to either add or remove yourself to a drive (if not created by that user, in which they can either edit or destroy their own drive), depending on if they are already a part of that drive-->

<table class="table">
  <thead>
    <tr>
      <th>City</th>
      <th>Num passengers</th>
      <th>Driver</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drives.each do |drive| %>
    <% if drive.city == @city %>
      <tr>
        <td><%= drive.city %></td>
        <td><%= drive.num_passengers %></td>
        <td><%= drive.driver_id %></td>
        <td><%= link_to 'Show', drive %></td>
        <% if drive.driver_id == @user.id %>
        <td><%= link_to 'Edit', edit_drife_path(drive) %></td>
        <td><%= link_to 'Destroy', drive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %> 
        <td>
          <% unless drive.passenger_ids.include?(@user.id.to_s) %>
          <button type = "button" id = "<%=  drive.id %>" class = "addPassenger btn btn-primary" class="btn btn-primary">add myself to this ride
          </button>
        </td>
        <% end %>
        <% end %>
        
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>