<h1>New drive</h1>

<%= form_for(@drive) do |f| %>
  <% if @drive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drive.errors.count, "error") %> prohibited this drife from being saved:</h2>

      <ul>
      <% @drive.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  
    
    <%= f.select(:city, ['Chicago','Indianapolis', 'St. Louis', 'Cincinnati', 'Kansas City', 'Memphis']) %>
  </div>
  <div class="field">
    <%= f.label :number_of_seats_available %><br>
    <%= f.number_field :num_passengers %>
  </div>
<div class = "field">
  <%= f.label :departure_time_and_date %><br>
  <%= f.text_field :departure_time %>
</div>
<div class = "field">
  <%= f.label :departure_location %><br>
  <%= f.text_field :departure_location %>
</div>
<div class = "field">
  <%= f.label :general_comments %><br>
  <%= f.text_area :comment %>
  <div class="field">
    
    <%= f.hidden_field :driver_id, :value => @user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', drives_path %>
