<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @drive.city %>
</p>

<p>
  <strong>Num passengers:</strong>
  <%= @drive.num_passengers %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @drive.driver_id %>
</p>

<%= link_to 'Edit', edit_drife_path(@drive) %> |
<%= link_to 'Back', drives_path %>
